.back {
  margin: 0;
  padding: 0;
  background-color: white;
  border: solid transparent;
  border-image: url('../../../public/background.png') 20;
  border-radius: 20px;
  border-width: 100px;
  min-height: 695px;
}

.mid {
  margin-left: 200px;
}

.line {
  width: 400px;
  margin-left: 160px;
}

.recommend {
  margin-left: 150px;
  margin-top: 100px;

}

select {
  width: 300px;
  height: 35px;
  font-size: 18px;
}

.submit {
  margin-top: 120px;
  margin-left: 85px;
  width: 250px;
  height: 40px;
  font-size: 18px;
  background-image: url('../../../public/background.png');
  border-radius: 10px;
}

.submit:hover {
  opacity: 80%;
}

.result {
  margin-left: 50%;
}

button {
  width: 250px;
  height: 40px;
  font-size: 18px;
  background-image: url('../../../public/background.png');
  border-radius: 10px;
}

button:hover {
  opacity: 80%;
}
