<div class="back">
  <h1>Sound Sage</h1>
  <form class="form">
    <h2 class="sign">Sign In</h2>
    <hr class="line">
    <p>User Name</p>
    <input type="text" placeholder="username">
    <br />
    <p>Password</p>
    <input type="password" placeholder="password">
    <br />
    <button (click)="NavigateToRecommend()">Submit</button>
    <br />
    <h1></h1>
    <a routerLink="/" class="New">New User</a>
  </form>
  <div class="displace">
    <h2>Welcome to Sound Sage</h2>
    <p><i>Discover new music that matches your taste effortlessly. Whether you're into jazz,
        rock, or electronic beats, our personalized recommendation algorithm tailors playlists
        just for you. Simply tell us your favorite genres and artists, and let us curate the
        perfect soundtrack to complement your style. Start exploring today and uncover a world
        of music waiting to be heard.</i></p>
  </div>
</div>