.back {
  margin: 0;
  background-image: url('../../../public/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: aliceblue;
  font-size: 100px;
  margin-top: 100px;
  margin-left: 100px;

}

.displace {
  margin-top: -20%;
  margin-left: 150px;
}

p {
  max-width: 400px;

}

.form {
  height: 450px;
  width: 350px;
  background-color: white;
  padding-left: 20px;
  padding-top: 10px;
  margin-left: 70%;
  margin-top: 0%;
  border-radius: 5%;
}

.sign {
  padding-left: 35%;
}

.line {
  width: 270px;
  margin-left: 30px;
}

input[type="password"],
[type="email"],
[type="text"] {
  width: 320px;
  height: 40px;
  border-radius: 5px;
  border-color: whitesmoke;
}

button {
  margin-top: 20px;
  width: 320px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(87, 87, 241);
  color: white;
}

button:hover {
  opacity: 80%;
}

.New {
  font-size: 18px;
  margin-left: 38%;
}

a {
  color: blue;
}

a:hover {
  color: black;
}
