<div class="back">
<h1>Sound Sage</h1>
<form class="form">
    <h2 class="sign">Sign Up</h2>
    <hr class="line">
    <p>User Name</p>
    <input type="text" placeholder="Your Name">
    <p>Email</p>
    <input type="email" placeholder="username@gmail.com">
    <br />
    <p>Password</p>
    <input type="password" placeholder="password">
    <br />
    <button (click)="NavigateToLogin()">Submit</button>
    <br />
    <a routerLink="/login" class="enter">Already have an email</a>
</form>
<div class="displace">
    <h2>Welcome to Sound Sage</h2>
    <p><i>Discover new music that matches your taste effortlessly. Whether you're into jazz,
        rock, or electronic beats, our personalized recommendation algorithm tailors playlists
        just for you. Simply tell us your favorite genres and artists, and let us curate the
        perfect soundtrack to complement your style. Start exploring today and uncover a world
        of music waiting to be heard.</i></p>
</div>
</div>

